* {
    background-color: darkblue;
    color:lightgray;

    text-align: center;
}

li {
    /* This fixes the issue with bullets being on the left as if the text was aliged to the left*/
    list-style-position: inside;
}